{
{{#composerPackageName}}
    "name": "{{{.}}}",
{{/composerPackageName}}
    {{#artifactVersion}}
    "version": "{{artifactVersion}}",
    {{/artifactVersion}}
    "description": "{{{appDescription}}}",
    "keywords": [
        "openapitools",
        "openapi-generator",
        "openapi",
        "php",
        "sdk",
        "rest",
        "api"
    ],
    "homepage": "{{{artifactUrl}}}",
    "license": "{{{licenseName}}}",
    "authors": [
        {
            "name": "{{{developerOrganization}}}",
{{#developerEmail}}
            "email": "{{{.}}}",
{{/developerEmail}}
            "homepage": "{{{developerOrganizationUrl}}}"
        }
    ],
    "require": {
        "php": ">=8.1",
        "ext-curl": "*",
        "ext-json": "*",
        "ext-mbstring": "*",
        "guzzlehttp/guzzle": "^6.2 || ^7.0",
        "neclimdul/openapi-php-helper": "^1.0@beta"
    },
    "require-dev": {
        "fakerphp/faker": "^1.20",
        "illuminate/support": ">5.0.0",
        "neclimdul/openapi-php-testing": "^1.0@beta",
        "php-parallel-lint/php-parallel-lint": "^1.2",
        "phpspec/prophecy-phpunit": "^2.0",
        "phpstan/phpstan": "^1.0.0",
        "phpunit/phpunit": "^8.0 | ^9.0",
        "squizlabs/php_codesniffer": "^3.7",
        "vimeo/psalm": "^5.9"
    },
    "autoload": {
        "psr-4": {
            "{{escapedInvokerPackage}}\\" : "{{srcBasePath}}/"
        }
    },
    "autoload-dev": {
        "psr-4": {
            "{{escapedInvokerPackage}}\\Test\\" : "{{testBasePath2}}/"
        }
    },
    "scripts": {
        "phpcs": "phpcs -s -- ",
        "phpcbf": "phpcbf",
        "lint": [
            "parallel-lint -e php --exclude vendor ."
        ],
        "static": [
            "phpstan analyze",
            "psalm --no-cache -m"
        ],
        "test": "phpunit --stop-on-fail"
    }
}
