class {{classname}}
{
    /**
     * Possible values of this enum
     */
    {{#allowableValues}}{{#enumVars}}
    const {{{name}}} = {{{value}}};
    {{/enumVars}}{{/allowableValues}}

    /**
     * Gets allowable values of the enum.
     *
     * @return scalar[]
     */
    public static function getAllowableEnumValues(): array
    {
        return [
            {{#allowableValues}}{{#enumVars}}self::{{{name}}},{{^-last}}
            {{/-last}}{{/enumVars}}{{/allowableValues}}
        ];
    }
}
