<?xml version="1.0" encoding="UTF-8"?>
<phpunit xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="tests">
            <directory>{{testBasePath2}}</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">{{apiSrcPath}}</directory>
            <directory suffix=".php">{{modelSrcPath}}</directory>
        </include>
    </coverage>
    <php>
        <ini name="error_reporting" value="E_ALL" />
    </php>
</phpunit>
